---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Intro from "../components/Intro.astro";
import BlogInfo from "../components/BlogInfo.astro";
import { SITE_TITLE } from "../config";
---

<PageLayout>
  <PageMeta title={` Home | ${SITE_TITLE} `} slot="meta" />
  <Fragment slot="main">
    <Intro />
    <div class="flex justify-center">
      <div class="items-center w-32 h-32 aspect-w-1 aspect-h-1">
        <img
          src="./images/catwithcomputerkeyboard.png"
          alt="cat with computer keyboard"
          class="object-cover w-full h-full"
        />
      </div>
    </div>
    <BlogInfo />
  </Fragment>
</PageLayout>
