---
---

<div>
  <div class="flex flex-col md:flex-row mt-36 mb-5">
    <div class="title text-4xl mb-4 md:mr-96">MyInfo</div>
    <div
      class="w-32 h-32 aspect-w-1 aspect-h-1 mb-4 md:mb-0 flex justify-center md:ml-auto"
    >
      <img
        src="../images/catwithcomputerkeyboard.png"
        alt="cat with computer keyboard"
        class="object-cover w-full h-full"
      />
    </div>
  </div>

  <ul>
    <li
      class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-center"
    >
      <span class="text-3xl">Name:</span>
      <span class="text-2xl">maesh</span>
    </li>
    <li
      class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-center"
    >
      <span class="text-3xl">Specialization:</span>
      <span class="text-2xl">情報科学</span>
    </li>
    <li
      class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-center"
    >
      <span class="text-3xl">Occupation:</span>
      <span class="text-2xl">University Student</span>
    </li>
    <li
      class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-center"
    >
      <span class="text-3xl">Hobbies:</span>
      <span class="text-2xl">映画鑑賞 (洋画)</span>
    </li>
  </ul>
</div>
